<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="UTF-8">
	<title>Layout 4</title>
	<link rel="stylesheet" href="assets/main.css">
</head>
<body>
	<section class="wrapper">
		<section class="nav">
			<button>SIGN IN</button>
			<input type="text">
			<button>CREATE AN ACCOUNTt</button>
			<button>CONTACT</button>
		</section>
		<header>
			<section class="logobox">
				<img src="assets/square.jpg" class="logo" alt="">
			</section>
			<section class="namebox">
				<h1>NAME</h1>
			</section>
			<section class="call">
				<h1>CALL</h1><br><h1>1-800</h1>
			</section>
		</header>
		<nav>
			<button>PACKAGES</button>
			<button>DESTINATIONS</button>
			<button>FLIGHTS</button>
			<button>ACCOMODATIONS</button>
			<button>SEARCH</button>
			<input type="text">
		</nav>
		<main>
			<section class="packages">
				<h2>FEAUTURED PACKAGES</h2>
				<section class="box">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<img src="assets/square.jpg" class="packagebox" alt="">
				</section>
				<section class="box">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<img src="assets/square.jpg" class="packagebox" alt="">
				</section>
				<section class="box">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<img src="assets/square.jpg" class="packagebox" alt="">
				</section>
				<section class="box">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<img src="assets/square.jpg" class="packagebox" alt="">
				</section>
			</section>
			<section class="destination">
				<section class="featured">
					<section class="textbox">
						<h2>FEATURED DESTINATION</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
					</section>
					<section class="imagebox">
						<img src="assets/bak1.jpg" class="imagebox-content" alt="">
						<h3>CAPTION</h3>
					</section>
				</section>
				<section class="images">
					<img src="assets/square.jpg" class="sq" alt="">
					<img src="assets/square.jpg" class="sq" alt="">
					<img src="assets/square.jpg" class="sq" alt="">
					<img src="assets/square.jpg" class="sq" alt="">
					<img src="assets/square.jpg" class="sq" alt="">
					<img src="assets/square.jpg" class="sq" alt="">
				</section>
				<section class="arrows">
					<img src="assets/arrow1.png" class="arrow" alt="">
					<img src="assets/arrow2.png" class="arrow" alt="">
				</section>
			</section>
			<section class="boxes">
				<section class="box1">AD</section>
				<section class="box1">AD</section>
				<section class="box1">AD</section>
			</section>
		</main>
	</section>
</body>
</html>