@charset "utf-8";
h1 {
	text-align: center;
}

.wrapper {
	margin: auto;
	width: 80%;
}

.grid {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
}

.grid-item {
	display: flex;
	align-self: center;
}

img {
	height: 100%;
	width: 100%;
}

.grid-item img:hover{
	transform: scale(1.05);
}