@charset "utf-8";
body {
	padding: 0px;
	margin: 0px;
}

.wrapper {
	width: 100%;
}

.parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.p1 {
	width: 138%;
	display: block;
}

.p2 {
	width: 50%;
	margin-left: 40%;
}

.header {
	background: gray;
	width: 95%;
	display: block;
	height: 150px;
	margin: 10px;
}

.link {
	background: gray;
	width: 95%;
	height: 50px;
	margin: 10px;
	margin-bottom: 0px;
}

.blog {
	background-color: gray;
	height: 500px;
	width: 100%;
	margin: 10px;
}

.midbox {
	background: gray;
	height: 300px;
	width: 100%;
	margin: 10px;
}

.bigbox {
	background: gray;
	height: 500px;
	width: 100%;
	margin: 10px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 10px;
	width: 100%;
}

.smallbox1 {
	background: gray;
	display: inline-block;
	width: 95%;
	height: 150px;
}

.smallbox2 {
	background: gray;
	display: inline-block;
	width: 95%;
	height: 150px;
	margin-left: 5%;
}

.smallbox {
	background: gray;
	height: 210px;
	width: 100%;
	margin: 10px;
}

.footer {
	background-color: gray;
	width: 95%;
	height: 50px;
	margin: 10px;
}