@charset "utf-8";
body {
	padding: 0px;
	margin: 0px;
}

.wrapper {
	width: 100%;
}

.p1 {
	display: inline-block;
	width: 62%;
}

.p2 {
	display: inline;
	width: 32%;
	height: 100%;
	float: right;
	margin-right: 5%;
}

.header {
	background: gray;
	width: 95%;
	display: block;
	height: 150px;
	margin: 10px;
}

.link {
	background: gray;
	width: 95%;
	height: 50px;
	margin: 10px;
}

.blog {
	background-color: gray;
	height: 500px;
	width: 100%;
	margin: 10px;
}

.midbox {
	background: gray;
	height: 300px;
	width: 100%;
	margin: 10px;
}

.bigbox {
	background: gray;
	height: 500px;
	width: 100%;
	margin: 10px;
}

.container {
	display: flex;
	width: 104%;
}

.smallbox {
	background: gray;
	display: inline-block;
	width: 100%;
	height: 150px;
	margin: 10px;
}

.smallbox1 {
	background: gray;
	height: 210px;
	width: 100%;
	margin: 10px;
}

.footer {
	background-color: gray;
	width: 95%;
	height: 50px;
	margin: 10px;
}