@charset "utf-8";

.grid {
	margin: auto;
	width: 600px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.grid-item1 {
	height: 200px;
	width: 200px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.grid-item2 {
	height: 200px;
	width: 200px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.grid-item3 {
	height: 200px;
	width: 200px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.grid-item4 {
	height: 200px;
	width: 200px;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.grid-item5 {
	height: 200px;
	width: 200px;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.grid-item6 {
	height: 200px;
	width: 200px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.grid-item7 {
	height: 200px;
	width: 200px;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.grid-item8 {
	height: 200px;
	width: 200px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.grid-item9 {
	height: 200px;
	width: 200px;
	border-left: 1px solid black;
	border-top: 1px solid black;
}