@charset 'utf-8';

body {
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

body h1 {
    color: white;
    text-shadow: 2px 2px #000;
}

p {
    color: white;
}
section img {
    width: 25%;
}
section button {
    padding: 10px;
    text-shadow: 1px 1px 0px #000000;
    color: white;
    text-transform: capitalize;
    outline: none;
}
section button:nth-child(1) {
    background-color: red;
}

section button:nth-child(2) {
    background-color: blue;
}

section button:nth-child(3) {
    background-color: saddlebrown;
}

.hero-Container {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid white;
    margin: 5px;
    padding: 10px;
}

.heroimg {
    width: 30%;
    margin-bottom: 10px;
}

.hero-buttons button {
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    color: white;
    text-transform: uppercase;
    outline:  none;
}

.hp {
    color: red;
}

.mana {
    color: blue;
    text-shadow: 2px 2px 2px #000000;
}

.btnDmgTaken {
    background-color: gray;
    pointer-events: none;
}

.hero-buttons {
    border: 3px solid white;
}
.hero-buttons button:before {
    content:"> ";

}
.hero-buttons button:after {
    content: "!";
}
.hero-buttons button:nth-child(1) {
    background-color: red;
}
.hero-buttons button:nth-child(2) {
    background-color: blue;
}
.hero-buttons button:nth-child(3) {
    background-color: orange;
}
.btnGameOver {
    background-color: grey !important;
    pointer-events: none;
}

.btnRestart {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-image: linear-gradient(to right, red, blue, yellow);
    font-weight: bold;
    font-size: 20px;
    font-family: "Nunito", "sans-serif";
    outline: none;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .4s;
    transition: all 1s;
}