<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 1</title>
	<link rel="stylesheet" href="assets/main.css">
</head>
<body>
	<section class="wrapper">
		<section class="header">Top Header Illustration with Site Name</section>
		<section class="link">Top Menu Links</section>
		<section class="blog1">Latest Blog Post 1</section>
		<section class="blog2">Latest Blog Post 2</section>
		<section class="blog3">Latest Blog Post 3</section>
		<section class="news">Newsletter Sign-Up Form</section>
		<section class="read">Read These First Featured Blog Posts</section>
		<section class="area">Credibility Area</section>
		<section class="banner">Banner Promoting Services</section>
		<section class="service">Or this area</section>
		<section class="social">Social Media Links</section>
		<section class="footer">Site Footer Area</section>
	</section>
</body>
</html>