<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 1</title>
	<link rel="stylesheet" href="assets/main.css">
</head>
<body>
	<section class="wrapper">
		<section class="header">Top Header Illustration with Site Name</section>
		<section class="link">Top Menu Links</section>
		<section class="p1">
			<section class="blog">Latest Blog Post 1</section>
			<section class="blog">Latest Blog Post 2</section>
			<section class="blog">Latest Blog Post 3</section>
		</section>
		<section class="p2">
			<section class="midbox">Newsletter Sign-Up Form</section>
			<section class="midbox">Read These First Featured Blog Posts</section>
			<section class="bigbox">Credibility Area</section>
			<section class="container">
				<section class="smallbox">Banner Promoting Area</section>
				<section class="smallbox">Or this area</section>
			</section>
			<section class="smallbox1">Social Media Links</section>
		</section>
		<section class="footer">Site Footer Area</section>
	</section>
</body>
</html>