@charset "utf-8";
body {
	background: white;
}

.wrapper {
    margin: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    margin: 10px;
    text-shadow: 1px 1px 1px black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 2px 2px 2px 2px black;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    transition: all 0.5s;
    position: relative;
}

.grid-item:hover .dropdown {
    display: grid;
    grid-template-columns: repeat(auto-fill, (100px, 100px, 100px));
    position: absolute;
}

.dropdown {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    transition: all 1;
}

.dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content:hover {
    
}

.item1 {
    background: black;
}

.item2 {
    background: yellow;
}

.grid-item a {
    text-decoration: none;
    font-size: 24px;
    transition: all 0.5s;
    color: white;
    text-shadow: 1px 1px 1px black;
}