@charset "utf-8";

body {
	
}

header {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 150px;
	height: 150px;
	background: gray;
	margin-top: 20px;
	display: block;
	border-radius: 50%;
}

nav {
	width: 50%;
	height: 100px;
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}

.nav {
	background: gray;
	height: 50px;
	width: 20%;
}

.scroller {
	height: 600px;
	width: 100%;
	background-color: lightgrey;
}

.arrow1 {
	width: 8%;
	height: 17%;
}

.bakgrund {
	width: 80%;
	height: 80%;
	margin-bottom: 5%;
}

.arrow2 {
	width: 8%;
	height: 17%;
}

h3 {
	
}

.bar {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	height: 1100px;
	width: 80%;
	margin-left: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	justify-content: center;
	align-items: center;
}

.box {
	display: flex;
	flex-flow: column;
	width: 300px;
	height: 480px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
}

.sq {
	height: 250px;
	width: 250px;
}

footer {
	height: 300px;
	width: 100%;
	background-color: lightgrey;
	display: flex;
	flex-direction: row;
}