body {
	background-color: azure;
}

.wrapper {
	margin: auto;
	width: 40%;
	border: 7px solid grey;
	padding: 10px; 
}

.wrapper1 {
	border-bottom: 1px solid grey;
}

.wrapper2 {
	border-bottom: 1px solid grey;
}

h3 {
	color: aqua;
}

h1 {
	
}

p1 {
	border-left: 3px solid grey;
	padding-left: 7px;
}