<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="UTF-8">
	<title>Layout 3</title>
	<link rel="stylesheet" href="assets/main.css">
</head>
<body>
	<header>
		<img src="assets/square.jpg" class="logo" alt="">
		<nav>
			<section class="nav nav1">Home</section>
			<section class="nav nav2">Info</section>
			<section class="nav nav3">Forum</section>
			<section class="nav nav4">Kontakt</section>
		</nav>
	</header>
	<section class="scroller">
		<h1>Title</h1>
		<section class="bar">
			<img src="assets/arrow1.png" class="arrow1" alt="">
			<img src="assets/bak1.jpg" class="bakgrund" alt="">
			<img src="assets/arrow2.png" class="arrow2" alt="">
		</section>
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>
	</section>
	<section class="wrapper">
		<section class="box box1">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box2">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box3">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box4">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box5">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box6">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box7">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box8">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
	</section>
	<footer>
		<ul>
			<h4>Contact Info</h4>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
		<ul>
			<h4>Copyright</h4>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
		<ul>
			<h4>Links</h4>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
		<ul class="log1">
			<h4>Ännu fler länkar</h4>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
	</footer>
</body>
</html>