<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="assets/main.css">
</head>
<body>
	<header>
		<a href="https://via.placeholder.com/150" class="logo"></a>
		<nav>
			<section class="nav nav1"></section>
			<section class="nav nav2"></section>
			<section class="nav nav3"></section>
			<section class="nav nav4"></section>
		</nav>
	</header>
	<section class="scroller">
		<section class="bar bar1">
			<img src="" alt="">
			<h3></h3>
		</section>
		<section class="bar bar2">
			<img src="" alt="">
			<h3></h3>
		</section>
		<section class="bar bar3">
			<img src="" alt="">
			<h3></h3>
		</section>
	</section>
	<section class="wrapper">
		
	</section>
	<footer>
		
	</footer>
</body>
</html>