<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="assets/main.css">
</head>
<body>
	<header>
		<section class="logo"></section>
		<nav>
			<section class="nav nav1"></section>
			<section class="nav nav2"></section>
			<section class="nav nav3"></section>
			<section class="nav nav4"></section>
		</nav>
	</header>
	<section class="scroller">
		<h1>Title</h1>
		<section class="bar bar1">
			<img src="assets/arrow1.png" class="arrow1" alt="">
			<img src="assets/bak1.jpg" class="bakgrund" alt="">
			<img src="assets/arrow2.png" class="arrow2" alt="">
		</section>
		<h3>Hejejejej</h3>
	</section>
	<section class="wrapper">
		<section class="box box1">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box2">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box3">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box4">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box5">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box6">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box7">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
		<section class="box box8">
			<img src="assets/square.jpg" class="sq" alt="">
			<h2>Titel</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
	</section>
	<footer>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</footer>
</body>
</html>