<!DOCTYPE html>
<html lang="sv-se">
<head>
	<meta charset="UTF-8">
	<title>Layout 2</title>
	<link rel="stylesheet" href="assets/main.css">
</head>
<body>
	<header>
		<section class="logo">Logo</section>
		<section class="banner">Future banner ad placement</section>
	</header>
	<nav>Main navigation</nav>
	<section class="wrapper">
		<section class="box1">
			<section class="boxes deal">Deal of the week</section>
			<section class="boxes partners">Highlightened partners</section>
			<section class="boxes categorized">Higlightened categorized deals</section>
		</section>
		<section class="box2">
			<section class="boxes1 membership">Membership sign up</section>
			<section class="boxes1 pet">Pets insurance</section>
		</section>
		<section class="box3">
			<section class="boxes2 site">Description of site</section>
			<section class="boxes2 blog">Last 5 blog posts</section>
			<section class="boxes2 forum">Highlightened discussion forum posts</section>
		</section>
	</section>
	<footer>Footer</footer>
</body>
</html>