@charset "utf-8";

body {
	background: purple;
}

.listor {
	display: inline;
	overflow: hidden;
}
list {
	overflow: hidden;
	position: relative;
}

li {
	overflow: hidden;
	display: none;
	position: absolute;
}

ul {
	overflow: hidden;
	display: none;
	position: absolute;
}

list:hover li {
	display: contents;
	justify-content: center;
	align-content: center;
}

li:hover ul {
	display: contents;
}