@charset "utf-8";

body {
	background: white;
}

.listor {
	display: inline-block;
	overflow: hidden;
}
list {
	overflow: hidden;
	position: relative;
	background-color: aqua;
	display: inline-block;
}

li {
	overflow: hidden;
	display: none;
	position: relative;
	background-color: blue;
	margin: 0;
	padding: 0; 
}

ul {
	overflow: hidden;
	display: none;
	position: relative;
	background-color: crimson;
	padding: none;
	margin: 0;
}

list:hover li {
	display: inline;
}

li:hover ul {
	display: block;
}