@charset "utf-8";

body {
	background: purple;
}

nav {
	font-family: cursive;
	color: white; 
}
list {
	position: relative;
	display: inline;
	float: left;
	padding: 30px;
	font-size: 25px;
	text-shadow: 2px 2px #000;
}

li {
	display: none;
	right: 0;
	position: relative;
	font-size: 15px;
	padding-left: 20px;
}

ul {
	display: none;
	right: 0;
	position: relative;
	font-size: 12px;
}

list:hover li {
	display: block;
}

li:hover ul {
	display: block;
}